In [25]:
import datasets
from datasets import load_dataset

dataset = load_dataset("hotpotqa/hotpot_qa", "fullwiki")
dataset

/Users/aidand/dev/hello-retrieval-eval/env/lib/python3.10/site-packages/datasets/load.py:1486: FutureWarning: The repository for hotpotqa/hotpot_qa contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/hotpotqa/hotpot_qa
You can avoid this message in future by passing the argument `trust_remote_code=True`.
Passing `trust_remote_code=True` will be mandatory to load this dataset from the next major release of `datasets`.
  warnings.warn(

DatasetDict({
    train: Dataset({
        features: ['id', 'question', 'answer', 'type', 'level', 'supporting_facts', 'context'],
        num_rows: 90447
    })
    validation: Dataset({
        features: ['id', 'question', 'answer', 'type', 'level', 'supporting_facts', 'context'],
        num_rows: 7405
    })
    test: Dataset({
        features: ['id', 'question', 'answer', 'type', 'level', 'supporting_facts', 'context'],
        num_rows: 7405
    })
})

In [26]:
df = dataset['train'].to_pandas()
df.head()

,id,question,answer,type,level,supporting_facts,context
0,5a7a06935542990198eaf050,Which magazine was started first Arthur's Maga...,Arthur's Magazine,comparison,medium,"{'title': ['Arthur's Magazine', 'First for Wom...",{'title': ['Radio City (Indian radio station)'...
1,5a879ab05542996e4f30887e,The Oberoi family is part of a hotel company t...,Delhi,bridge,medium,"{'title': ['Oberoi family', 'The Oberoi Group'...","{'title': ['Ritz-Carlton Jakarta', 'Oberoi fam..."
2,5a8d7341554299441c6b9fe5,Musician and satirist Allie Goertz wrote a son...,President Richard Nixon,bridge,hard,"{'title': ['Allie Goertz', 'Allie Goertz', 'Al...","{'title': ['Lisa Simpson', 'Marge Simpson', 'B..."
3,5a82171f5542990a1d231f4a,What nationality was James Henry Miller's wife?,American,bridge,medium,"{'title': ['Peggy Seeger', 'Peggy Seeger', 'Ew...","{'title': ['Moloch: or, This Gentile World', '..."
4,5a84dd955542997b5ce3ff79,Cadmium Chloride is slightly soluble in this c...,alcohol,bridge,medium,"{'title': ['Cadmium chloride', 'Ethanol'], 'se...","{'title': ['Cadmium chloride', 'Water blue', '..."

In [27]:
sample = df.sample(1)
sample['context'].iloc[0]

{'title': array(['Skene (automobile)', 'Skene Manor', 'Lewiston, Maine'],
       dtype=object),
 'sentences': array([array(['The Skene was an American automobile manufactured from 1900 to 1901.',
               ' A twin-cylinder 5 hp steam car, it was built in Lewiston, Maine.',
               ' Despite its makers claims of "many points of superiority", the Skene seems to have been rather unremarkable.'],
              dtype=object)                                                                                                     ,
        array(['Skene Manor, listed on the National Register of Historic Places as Judge Joseph Potter House, is a historic home located at Whitehall in Washington County, New York.',
               ' It was built in 1874 and is a handsome Victorian style mansion built of grey sandstone quarried from its own site with a mansard roof.',
               ' It features two towers and is embellished with three flat roofed bracketed porches.',
               ' The center tower is three and one half stories and features a large clock.',
               ' The mansion was operated as a restaurant, but is now undergoing restorations and is open for tours.'],
              dtype=object)                                                                                                                                                            ,
        array(['Lewiston ( , ; officially the City of Lewiston, Maine) is the second largest city in Maine and the most central city in Androscoggin County.',
               ' The city has a population of 36,202.',
               " Located in south-western Maine, the city borders the coastal sideways of the Gulf of Maine and is south of Augusta, the state's capital and north of Portland, the cultural hub of Maine.",
               ' It is one-half of the Lewiston-Auburn Metropolitan Statistical Area, commonly referred to as "L.A." or "L-A."',
               ' Lewiston exerts a significant impact upon the diversity, religious variety, commerce, education, and economic power of Maine.',
               ' It is known for a relatively low cost of living, substantial access to medical care, and an extremely low violent crime rate.',
               ' While the dominant language spoken in the city is English, it is home to the largest French-speaking population in the state; the language is spoken by nearly 15% of locals.'],
              dtype=object)                                                                                                                                                                                 ],
       dtype=object)}

In [39]:
def scentences_all_populated(context):
	for sentences in context['sentences']:
		if not all(sentences):
			return False
	return True

def scentences_populated(context):
	for sentences in context['sentences']:
		if any(sentences):
			return True
	return False

non_true_df = df[~df['context'].apply(scentences_all_populated)]
display(non_true_df.head())
display(non_true_df.shape)
display(non_true_df['context'].sample(1).iloc[0])

,id,question,answer,type,level,supporting_facts,context
474,5ae625335542995703ce8b28,"What football club has won 3 UFEA Super Cups, ...",Liverpool Football Club,bridge,medium,"{'title': ['Hughie Clifford', 'Liverpool F.C.'...","{'title': ['List of FC Barcelona players', 'Su..."
568,5addf5935542995b365fab9e,"Which plant, Buddleja or Burchardia, is an her...",Burchardia,comparison,easy,"{'title': ['Buddleja', 'Burchardia', 'Burchard...","{'title': ['Burchardia', 'Buddleja alata', 'Bu..."
713,5adc05f35542996e685252ac,"Brisingr is the third novel in the ""Inheritanc...",Christopher Paolini,bridge,easy,"{'title': ['Brisingr', 'Inheritance Cycle'], '...","{'title': ['The Wheel of Time', 'Lloyd Alexand..."
857,5a8ba7d75542996e8ac88991,How long was the Underdog show presented by an...,six-week television series,bridge,hard,"{'title': ['The Underdog Show', 'Julian Clary'...","{'title': ['List of Underdog episodes', 'Julia..."
1333,5ae4f18755429960a22e0219,When was the Australian radio and television p...,29 October 1964,bridge,medium,"{'title': ['1 vs. 100 (Australian game show)',...","{'title': ['Lai Van Sam', 'Tim Shaw (salespers..."

(400, 7)

{'title': array(['Childersburg, Alabama', 'Crystal City Internment Camp',
        'Führerhauptquartier Olga', '1943 Alabama Informals football team',
        '1918 Alabama Crimson Tide football team',
        'Lovelock Aerial Gunnery Range', 'Redl-Zipf',
        'Alabama Army Ammunition Plant', 'P-9 Project',
        'Villeneuve-Loubet mass grave'], dtype=object),
 'sentences': array([array(['Childersburg is a city in Talladega County in the U.S. state of Alabama.',
               ' It was incorporated in 1889.',
               ' At the 2010 census the population was 5,175.',
               ' It claims a history dating back before 1540, when it was noted as a village of the Coosa Nation visited by the Spanish explorer Hernando de Soto.',
               ' The Alabama Army Ammunition Plant, important during World War II, was located 4 mi north of Childersburg.'],
              dtype=object)                                                                                                                                         ,
        array(['Crystal City Internment Camp, located near Crystal City, Texas, was a place of confinement for people of Japanese, German, and Italian descent during World War II and has been variously described as a detention facility or a concentration camp.',
               ' The camp, which was originally designed to hold 3,500 people, opened in December 1943 and was officially closed on February 11, 1948.',
               ' Officially known as the Crystal City Alien Enemy Detention Facility (more commonly referred to as U.S. Family Internment Camp, Crystal City, Texas), the camp was operated by the Immigration and Naturalization Service under the Department of Justice and was originally designed to hold Japanese families, but later held German families as well, including many who were deported from Latin American countries to the U.S.',
               ' A significant number of those incarcerated were native-born American citizens.',
               ' The Crystal City Internment Camp was one of the primary confinement facilities in the United States for families during World War II.'],
              dtype=object)                                                                                                                                                                                                                                                                                                                                                                                                                          ,
        array(['The Führerhauptquartier Olga was a bunker facility built near the town of Orsha in the Soviet Union during World War II.',
               ' The facility was built by the organization Todt on the road near Orsha, some 200 kilometers northeast of Minsk, between July and September 1943.',
               ' The complex consisted of a bunker, some blockhouses and several wooden barracks.',
               ' The first discussions on the construction of the facility took place on 20 June 1943 in the Wolfschanze in East Prussia.',
               ' It is documented in the documents, which for the first estimation of the building project, Oberbauleiter Müller on the 27th June 1943 for the first time on the spot.',
               ' The Führerhauptquartier Olga was never completed and abandoned in October 1943 after the end of operation Zitadelle and the subsequent withdrawal of the German Wehrmacht.',
               ' By the end of the project, around 400 cubic meters of concrete had been installed and barracks and blockhouses with an area of 3599 square meters had been built.',
               ' The security bunker complex planned for Hitler was not completed.'],
              dtype=object)                                                                                                                                                                  ,
        array(['The 1943 Alabama Crimson Tide football team was to represent the University of Alabama in the 1943 college football season; however, the season was canceled due to the effects of World War II.',
               ' In February 1943, the Army instituted a policy that prohibited their cadets from participation in intercollegiate athletics.',
               ' Unsure if a season would occur, head coach Frank Thomas proceeded through spring practice as if it would be played.',
               ' By summer, only two Alabama players were available to compete on the squad as a result of the Army prohibition on its trainees competing in intercollegiate athletics, and on August 23, 1943, the University announced its decision to cancel the 1943 season.',
               ' The cancellation marked only the third time since the inaugural 1892 season that Alabama did not field a football team.'],
              dtype=object)                                                                                                                                                                                                                                                       ,
        array(['The 1918 Alabama Crimson Tide football team (variously "Alabama", "UA" or "Bama") was to represent the University of Alabama in the 1918 college football season; however, the season was canceled due to the effects of World War I.',
               ' B. L. Noojin was to serve as head coach for the season.',
               ' University officials canceled the season as a result of multiple opponents canceling their contests against Alabama and a military policy that only allowed for the team to practice for less than one hour per week.',
               ' Alabama also did not field a team in 1898 due to campus rules prohibiting athletic teams from traveling off campus to compete and in 1943 due to the effects of World War II.'],
              dtype=object)                                                                                                                                                                                                                            ,
        array(['Lovelock Aerial Gunnery Range was a World War II facility in two Nevada areas used for "aerial gunnery, strafing, dive bombing [and] rocket fire".',
               ' By 21 November 1944, the Lovelock Range had been approved by the Secretary of the Navy to be developed for Naval Air Station Fallon, and on 13 January 1945, "Lovelock Air to Air" began when "leased under the Second War Powers Act".',
               ' By February 1945, land was being acquired for the North Range in the Black Rock Desert which was 1122 that included 64.4 of "Patented" (leased private) land.',
               ' The South Range in the Granite Springs Valley was 2436 , and in March 1945 "1920 Acres more" were added.'],
              dtype=object)                                                                                                                                                                                                                               ,
        array(['The Redl-Zipf V-2 rocket facility (code name "Schlier") in central Austria between Vöcklabruck and Vöcklamarkt was for V-2 rocket motor testing after Raxwerke test equipment had been moved from Friedrichshafen.',
               " The facility tested V-2 combustion chambers' compatibility with turbopumps since the rocket did not have a controller for reducing the turbopumping of propellant into the chamber if pressure became too high.",
               ' The World War II facility used forced labor of the Schlier-Redl-Zipf subcamp of the Mauthausen-Gusen concentration camp and included a liquid oxygen generation plant in a nearby tunnel.',
               ' After an August 1944  explosion at the liquid oxygen plant stopped Schlier production, the third V-2 liquid oxygen plant (5000 tons/month) was built at a slate quarry at Lehesten near the Mittelwerk (turbopump/chamber compatibility testing for Mittelwerk production was also performed at the Lehesten facility).',
               ' Karl Heimberg, who had worked at Peenemünde Test Stand 7, was transferred to ""Vorwerk Sued"" at Redl-Zipf and then, for the period from late 1944-early April 1945, to Lehesten (he later returned to Peenemünde with Walter Riedel III to burn design office files and participated in the post-war Operation Backfire.)',
               ''], dtype=object)                                                                                                                                                                                                                                                                                                            ,
        array(['The Alabama Army Ammunition Plant (ALAAP), was a United States munitions plant built and operated during World War II.',
               ' The facility is located four miles (6 km) north of Childersburg, Alabama in Talladega County, Alabama.'],
              dtype=object)                                                                                                             ,
        array(["The P-9 Project was the codename given during World War II to the Manhattan Project's heavy water production program.",
               ' The Cominco plant at Trail, British Columbia, was upgraded to produce heavy water.',
               ' DuPont built three plants in the United States: at the Morgantown Ordnance Works, near Morgantown, West Virginia; at the Wabash River Ordnance Works, near Dana and Newport, Indiana; and at the Alabama Ordnance Works, near Childersburg and Sylacauga, Alabama.',
               ' The American plants operated from 1943 until 1945.',
               ' The Canadian plant at Trail continued in operation until 1956.',
               ' Three nuclear reactors were built using the heavy water produced by the P-9 Project: Chicago Pile 3 at Argonne, and ZEEP and NRX at the Chalk River Laboratories in Canada.'],
              dtype=object)                                                                                                                                                                                                                                                          ,
        array(['Villeneuve-Loubet mass grave is a grave site near the village of Villeneuve-Loubet, near Nice, in the Maritime Alps region of southern France.',
               ' On October 18, 2006 the bodies of 14 German soldiers killed during World War II were exhumed at the site.',
               ' The bodies were discovered by local medical student and World War II enthusiast Jean-Loup Gassend, and were subsequently exhumed by a team of local volunteers including an archaeologist and several medical students under the supervision of Mr Julien Hauser, representative of the Volksbund (German War Graves Commission) in France.',
               ' The Villeneuve-Loubet grave was the largest mass grave of World War II German soldiers discovered in France since 2003, when 17 bodies of German prisoners executed by the French Resistance had been exhumed from a mass grave at St Julien de Crempse, in the Dordogne region.'],
              dtype=object)                                                                                                                                                                                                                                                                                                                                   ],
       dtype=object)}

In [41]:
import numpy as np


df = df.loc[
	df['context'].apply(scentences_populated)
].reset_index(drop=True)
df.head()
# empty_contexts = df[df['context'].apply(lambda x: all(x['sentences']))]
# empty_contexts
# empty_contexts = []
# for i, row in df.iterrows():
# 	if not np.logical_and(row['context']['sentences']):
# 		empty_contexts.append(i)
# empty_contexts

# empty_contexts = df[df['context'].apply(lambda x: all(x['sentences']))]
# empty_contexts

,id,question,answer,type,level,supporting_facts,context
0,5a7a06935542990198eaf050,Which magazine was started first Arthur's Maga...,Arthur's Magazine,comparison,medium,"{'title': ['Arthur's Magazine', 'First for Wom...",{'title': ['Radio City (Indian radio station)'...
1,5a879ab05542996e4f30887e,The Oberoi family is part of a hotel company t...,Delhi,bridge,medium,"{'title': ['Oberoi family', 'The Oberoi Group'...","{'title': ['Ritz-Carlton Jakarta', 'Oberoi fam..."
2,5a8d7341554299441c6b9fe5,Musician and satirist Allie Goertz wrote a son...,President Richard Nixon,bridge,hard,"{'title': ['Allie Goertz', 'Allie Goertz', 'Al...","{'title': ['Lisa Simpson', 'Marge Simpson', 'B..."
3,5a82171f5542990a1d231f4a,What nationality was James Henry Miller's wife?,American,bridge,medium,"{'title': ['Peggy Seeger', 'Peggy Seeger', 'Ew...","{'title': ['Moloch: or, This Gentile World', '..."
4,5a84dd955542997b5ce3ff79,Cadmium Chloride is slightly soluble in this c...,alcohol,bridge,medium,"{'title': ['Cadmium chloride', 'Ethanol'], 'se...","{'title': ['Cadmium chloride', 'Water blue', '..."